<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">
	<bean id="businessMessageDao" class="com.platform.business.dao.BusinessMessageDaoImpl"></bean>
	<bean id="businessNumberDao" class="com.platform.business.dao.BusinessNumberDaoImpl"></bean>
	<bean id="businessOpinionDao" class="com.platform.business.dao.BusinessOpinionDaoImpl"></bean>
	<bean id="saleDao" class="com.platform.business.dao.SaleDaoImpl"></bean>
	<bean id="productDao" class="com.platform.business.dao.ProductDaoImpl"></bean>
	<bean id="salaryDao" class="com.platform.business.dao.SalaryDaoImpl"></bean>
	
	<bean id="businessMessageService" class="com.platform.business.service.BusinessMessageServiceImpl"></bean>
	<bean id="businessNumberService" class="com.platform.business.service.BusinessNumberServiceImpl"></bean>
	<bean id="businessOpinionService" class="com.platform.business.service.BusinessOpinionServiceImpl"></bean>
	<bean id="saleService" class="com.platform.business.service.SaleServiceImpl"></bean>
	<bean id="productService" class="com.platform.business.service.ProductServiceImpl"></bean>
	<bean id="saleReportService" class="com.platform.report.service.SaleReportServiceImpl"></bean>
	<bean id="salaryService" class="com.platform.business.service.SalaryServiceImpl"></bean>
</beans>
